fastapi  
uvicorn  
gunicorn  
python-multipart  
google-cloud-speech  
google-cloud-texttospeech  
torch  
transformers  
librosa  
groq  
openai  
pydub  
numpy  
python-dotenv  
pydantic  
pydantic-settings  
